<div class="panel panel-default">
  <div class="panel-body">Products: <%= @products_count%>
    <%= link_to admin_products_path, class: 'btn btn-default pull-right' do %>
      View Products &raquo;
    <% end %></div>
</div>

<div class="panel panel-default">
  <div class="panel-body">Categories: <%= @categories_count%>
<%= link_to admin_categories_path, class: 'btn btn-default pull-right' do %>
      View categories &raquo;
      <% end %></div>
</div>

